@charset "utf-8";

body {
	background-color: white;
}

img {
	width: 350px;
}

img {
	border: 10px groove #8B0000;
}



h1 {
	color: darkred;
	text-decoration-line: underline;
}
ul {
	list-style-type:upper-roman;
	background-color:darkred;
	border-style:double;
	border-color: black;
	border-width: medium;
	width:200px;
	
}

li a {
	display: block; 
	text-decoration: none;
	color:black;
	padding: 8px 16px;
}
li a:hover {
	backround-color: black;
	color: red;
}
